* {
transition:.3s all linear;
box-sizing: box-model;
}

body {
font-family:Arial;
font-size:12px;
width:100%;
height:100%;
background-color:#FFF;
position:relative;
margin:0;
padding:0;
}

.row {
list-style:none;
display:flex;
flex-flow:row wrap;
justify-content:flex-start;
margin:0;
padding:0;
}

.col {
width:5%;
height: 0 !important;
opacity:0.5;
padding:2.25% 0;
}

.col:hover {
opacity:1;
}

.startcreating,.settings,.cubes-spawned {
background-color:rgba(0,0,0,.75);
color:#FFF;
cursor:pointer;
padding:15px;
}

.startcreating {
position:fixed;
top:15px;
right:15px;
}

.settings {
position:fixed;
bottom:15px;
right:15px;
}

.settings .tweak-text {
font-weight:bolder;
text-decoration:underline;
}

.settings ul {
display:none;
list-style-type:none;
}

.settings li {
float:left;
clear:both;
cursor:default;
}

.cubes-spawned {
position:fixed;
bottom:15px;
left:15px;
pointer-events:none;
}